:root{

/* FRANKLIN FUENTE */
--fuente-FRANKLIN: 'Libre Franklin', sans-serif;
--franklin-font: 'Libre Franklin', sans-serif;
    --weight-FKlin-700: 700;
    --weigth-Flin-900: 900;


/*FUENTE "OSWALD" (GRANDE PRINCIPAL)*/
--fuente-OSWALD: 'Oswald', sans-serif;
--weigth-OSWALD-LIGTH-300: 300;             /* ANCHO DE LETRA FINA DE OSWALD */
--weigth-OSWALD-REGULAR-400: 400;           /* ANCHO DE LETRA NORMAL DE OSWALD */
--weigth-OSWALD-SEMIBOLD-600: 600;          /* ANCHO DE LETRA SEMI ANCHA DE OSWALD */
--weigth-OSWALD-BOLD-700: 700;              /* ANCHO DE LETRA ANCHA DE OSWALD */


/*FUENTE "OPEN SANS" (PARA TEXTOS. PARRAFOS O ETIQUETAS)*/
--fuente-OPENSANS: 'Open Sans', sans-serif;
--weigth-OPENSANS-LIGTH-300: 300;             /* ANCHO DE LETRA FINA DE OSWALD */
--weigth-OPENSANS-REGULAR-400: 400;           /* ANCHO DE LETRA NORMAL DE OPEN SANS */
--weigth-OPENSANS-SEMIBOLD-600: 600;          /* ANCHO DE LETRA SEMI ANCHA DE OPEN SANS */
--weigth-OPENSANS-BOLD-700: 700;              /* ANCHO DE LETRA ANCHA DE OPEN SANS */
}
.contenedor{
    padding: 15px;
}
.con{
    background: darkcyan;
    border-radius: 5px;
    padding: 20px;
    
}

.list{
    background: darkgray;
    border-radius: 5px;
    padding: 20px;
}
.lista{
    display: flex;
    margin: 15px;
    /* padding: 10px; */
    text-align: center;
    background: wheat;
    border-radius: 5px;
    width: 100%;
    justify-content: center;
}
.nom{
    margin: 15px;
}

.list-est{
    margin: 10px ;
    display: flex;
}

p{
    font-family: var(--weight-FKlin-700);
    font-size: 18px;
}
    .sms{
        font-size: 20px;
    }
    
h1{
    font-family: var(--fuente-OSWALD);
}
h2{
    font-family: var(--weigth-OPENSANS-BOLD-700);
    
}
.algo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
    .curso{
        font-size: 25px;
    }

.nombre_estudiante{
    background: wheat;
    border-radius: 8px;
    width: 10%;
}
